<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @events %>
	<% @events.each do |event| %>
		<div class="well">
			<%= event.eventname %>
			<hr />
			<%= link_to time_ago_in_words(event.created_at), event_path(event) %> ago
		</div>
	<% end %>
<% end %>
