<h1>About Us</h1>

<div class="row-fluid">
  <div class="span6">
	<p>
	<br>Newark Hub is a non-profit community resource of events in and around newark.</br>
	<br>This website is free to register, add events and advertise with us.</br>
	<br>Anyone who registers and contributes will get free access to the venues portal.</br>
	<br>Cookies are used by this website.</br>
	<br>Your information will remain inside Newark Hub and will only be used to promote your events and organisations.</br>
	<br>We will not pass on your information to third parties, but may contact you for surveys and research surrounding Newark Hub.</br>
	<br>You can contact us through email newarkhub@hotmail.com</br>
	</br>All rights reserved Newarkhub ©</br>
	</p>
</div>
<div class="span6">
	<p>
	<%= image_tag("StMarys.png", :alt => "St Marys" , size: "320x160") %>
	</p>
</div>

</div>
