<h1>About Us</h1>

<div class="row-fluid">
  <div class="span6">
  <h4>Newark Events</h4>
  Newark Hub is a non-profit community resource of the latest events in and around newark.
  <br></br>
  <h4>Free</h4>
  This website is free to register, add events and advertise with us.<br>
  Anyone who registers and contributes will get free access to the venues portal.
  <br></br>
  <h4>Contact Us</h4>
  You can contact us via email @   <a href="mailto:newarkhub@hotmail.com">newarkhub@hotmail.com</a>
  <br></br>
  </br>All rights reserved Newarkhub ©</br>
  </p>
</div>
<div class="span6">
	<p>
	<%= image_tag("StMarys.png", :alt => "St Marys" , size: "320x160") %>
	</p>
</div>

</div>
